.bg {
    background-color: var(--secondary-orange-color);
}

.nav p {
    font-size: 1.25rem;
    margin-bottom: 40px;
}

.nav svg {
    margin-right: 2rem;
}

.info {
    color: var(--grey-border);
    text-align: center;
    margin-top: 60px;
}
